<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/styles/styles.css" />
    <link rel="stylesheet" href="assets/styles/semantic.css" />
    <link rel="stylesheet" href="assets/styles/icons.svg" />
    <link rel="stylesheet" href="assets/styles/fullpage.css" />

    <!--
    <link href="/assets/semantic.css" rel="stylesheet" /> -->
    <title> Gorilla Security </title>

</head>

<body>

    <div class="ui secondary fixed stackable menu" style="background: #141d26; box-shadow: 2px 1px 2px #141d26">
        <a class="ui header" style="margin: 10px; font-size: 30px; color: #fff;"> Gorilla Security </a>

        <a class="active item" href="#section_1" style="color: #FFF;"> Home </a>

        <a class="item" href="#section_2" style="color: #FFF;"> Services </a>

        <a class="item" href="#section_3" style="color: #FFF;"> About Us </a>

        <a class="item" href="#section_4" style="color: #FFF;"> Contact Us </a>

        <div class="right menu">
            <a class="ui item">
                <div class="ui button" style="background-color: #c51f5d; color: #FFF"> Client Login </div>
            </a>
        </div>

    </div>

    <div id="fullPage">
        <div class="section s1">

            <div class="slide">

                <div class="container" style="position: relative; text-align: center; color: #FFF">
                    <img src="/assets/images/pic_6.jpg" style="width: 100%;">
                    <div class="centered"
                        style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
                        <a class="ui huge button" href="#section_3" style="background-color: #c51f5d; color: #FFF">
                            Free Consultations
                        </a>
                    </div>
                </div>
            </div>

            <div class="slide">

                <div class="container" style="position: relative; text-align: center; color: #FFF">
                    <img src="/assets/images/pic_5.jpg" style="width: 100%;">
                    <div class="centered"
                        style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
                        <a class="ui huge button" href="#section_3" style="background-color: #c51f5d; color: #FFF">
                            Free Consultations
                        </a>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="container" style="position: relative; text-align: center; color: #FFF">
                    <img src="/assets/images/pic_2.jpg" style="width: 100%;">
                    <div class="centered"
                        style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
                        <a class="ui huge button" href="#section_3" style="background-color: #c51f5d; color: #FFF">
                            Free Consultations
                        </a>
                    </div>
                </div>
            </div>


            <div class="slide">
                <div class="container" style="position: relative; text-align: center; color: #FFF">
                    <img src="/assets/images/pic_3.jpg" style="width: 100%;">
                    <div class="centered"
                        style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
                        <a class="ui huge button" href="#section_3" style="background-color: #c51f5d; color: #FFF">
                            Free Consultations
                        </a>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="container" style="position: relative; text-align: center; color: #FFF">
                    <img src="/assets/images/pic_5.jpg" style="width: 100%;">
                    <div class="centered"
                        style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
                        <a class="ui huge button" href="#section_3" style="background-color: #c51f5d; color: #FFF">
                            Free Consultations
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="section s2">
            <div class="slide">

                <div class="container" style="position: relative; text-align: center; color: #FFF">
                    <img src="/assets/images/pic_7.png" style="width: 100%;">
                </div>
            </div>

            <div class="slide">

                <div class="container" style="position: relative; text-align: center; color: #FFF">
                    <img src="/assets/images/pic_8.png" style="width: 100%;">
                </div>
            </div>
        </div>

        <div class="section s3">
            <div class="ui stackable grid">
                <div class="six wide column">
                    <div class="about" style="margin-top: 110px; margin-left: 10px; text-align: justify;">

                        <blockquote style="color: #141d26; font-size: 20px; line-height: 1.6">
                            A GSMTL security protection service is an acclaimed firm of security with a reputation for
                            both effective security solutions and use of innovative technology in the protection of life
                            and property.
                        </blockquote>

                        <blockquote style="color: #141d26; font-size: 20px; line-height: 1.6">
                            Gorilla Security Marketing and Logistics is a fast and Growing Company as since
                            it was incorporated in 2013 it has more than 100 trained guards. It provides Security
                            Services in Mining sites, Plants, Factories, Big yards, Banks, Industries, Residential
                            Houses, Hotels, Churches and Mosques.
                        </blockquote>
                    </div>

                </div>

                <div class="ten wide column" style="margin: 0px;">
                    <div class="ui card" style="width: 100%; height: 650px;">
                        <h2 style="margin-top: 90px; margin-left: 20px; color:darkgray">
                            For Enquiries and Consultations
                        </h2>

                        <button class="ui huge button"
                            style="background: #c51f5d;  width: 90%; margin-left: 30px; padding: 10px;">
                            Send us Direct Email </button>
                        <div class="ui horizontal divider" style="width: 90%; margin-left: 30px;"> Or </div>

                        <form class="ui form" style="padding: 30px;" method="POST" action="send">
                            <div class="field">
                                <label> Name </label>
                                <div class="two fields">
                                    <div class="field">
                                        <input type="text" name="firstName" placeholder="First Name" required>

                                    </div>

                                    <div class="field">
                                        <input type="text" name="lastName" placeholder="Last Name" required>

                                    </div>
                                </div>
                                <div class="field">
                                    <label> Email </label>
                                    <input type="email" name="useremail" placeholder="Your Email" required>
                                </div>
                                <div class="field">
                                    <label> Subject </label>
                                    <input type="text" name="subject" placeholder="Subject" required>
                                </div>

                                <div class="field">
                                    <label> Message </label>
                                    <textarea name="message" rows="2"> </textarea>
                                </div>

                                <button class="ui button" type="submit" style="background-color: #c51f5d;"> Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="section s4">
            <div class="ui stackable grid">
                <div class="eight wide column" style="color: lightgrey; margin-left: 10px;">
                    <div class="row">
                        <div class="column" style="margin-top: 90px">
                            <h3 class="ui dividing header" style="color: lightgrey;"> Our Offices </h3>
                            <blockquote style="font-size: 18px; line-height: 1.6;">
                                <h3 style="color: #c51f5d;"> HEADQUARTERS </h3>
                                <em>
                                    P.O.Box 76037 Dar es Salaam, Tanzania <br>
                                    +255 787 596 797 or +255 653 104 587 <br>
                                    info@gorillasecuritylogistics.co.tz <br>
                                    Plot No. 101 Mikocheni Old Bagamoyo Road
                                </em>

                            </blockquote>

                            <blockquote style="font-size: 18px; line-height: 1.6">
                                <h3 style="color: #c51f5d;"> MWANZA OFFICE </h3>
                                <em>
                                    P.O.Box 76037 Mwanza, Tanzania <br>
                                    +255 787 596 797 or +255 653 104 587 <br>
                                    info@gorillasecuritylogistics.co.tz <br>
                                    Plot No. 221 Bwiru Mchangani.
                                </em>

                            </blockquote>

                            <blockquote style="font-size: 18px; line-height: 1.6">
                                <h3 style="color: #c51f5d;"> GEITA OFFICE </h3>
                                <em>
                                    P.O.Box. 96037, Geita, Tanzania <br>
                                    +255 787 596 797 or +255 653 104 587 <br>
                                    info@gorillasecuritylogistics.co.tz <br>
                                    Plot No. 101 Mailimoja, Lushanga Opposite to Azania
                                </em>

                            </blockquote>

                        </div>
                    </div>
                </div>

                <div class="eight wide column">
                    <blockquote>

                    </blockquote>
                </div>
            </div>
        </div>
    </div>


    <script src="assets/script/semantic.js"></script>
    <script src="assets/script/fullpage.js"></script>
    <script src="assets/script/script.js"></script>

</body>

</html>